
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

::-webkit-scrollbar {
    display: none;
}
* {
    font-family: Poppins, sans-serif;
}
.menu {
	min-width: 280px;
	color: rgb(202, 8, 8);
	position: absolute;
	font-size:15px;
	text-transform: uppercase;
	word-spacing: 2px;

	border-radius: 0.5vh;
}

.menu.align-left {
	left: 40;
	top: 50%;
	transform: translate(0, -50%);
}

.menu.align-top-left {
	left: 40;
	top: 40;
}

.menu.align-top {
	left: 50%;
	top: 40;
	transform: translate(-50%, 0);
}

.menu.align-top-right {
	right: 10;
	top: 40;
}

.menu.align-right {
	right: 40;
	top: 50%;
	transform: translate(0, -50%);
}
.menu.align-bottom-right {
	right: 40;
	bottom: 220;
}

.menu.align-bottom {
	left: 50%;
	bottom: 40;
	transform: translate(-50%, 0);
}

.menu.align-bottom-left {
	left: 40;
	bottom: 40;
}

.menu.align-center {
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.menu .head {
	text-align: center;
	height: 35px;
	line-height: 35px;
	background-color: rgba(0, 0, 0, 0.732);
	color: #ffffff;
	font-size:19px;
	letter-spacing: 1px;
	margin-bottom: 5px;
	border-radius: 2.0vh;
	border: 1.25px solid transparent;
	border-color: #c33764;
}

.menu .menu-items {
	max-height: 600px;
	overflow-y: auto;
	padding: 10px;
	background-color: rgba(0, 0, 0, 0.732);
	border-radius: 2.0vh;
	border: 1.25px solid transparent;
	border-color: #c33764;
}
.menu .menu-items .menu-item {
	/*top:5px;*/
	display: block;
	height: 26px;
	line-height: 26px;
	color: rgb(185, 185, 185);
	text-align: center;
}

.menu .menu-items .menu-item.selected {
	color: #ffffff;
	text-align: center;
	border-radius: 2.0vh;
	background: linear-gradient(to right, #c33764, #1d2671);
}
